# Site Info
name: "YP Tech Notes" # for feed
title: "YP Tech Notes"
shortTitle: "Tech Notes"
description: "Еще один техноблог, пишу о том что интересно."
keywords: "tech, notes"
locale: "ru_RU"
author: "Yauheni Pakala"

github_username:  "wcoder"

twitter:
  card: summary
  username: yauhenipakala

webmaster_verifications:
  yandex: 7cd440e16ce6e1c3

# Site Settings
url: "https://wcoder.github.io" # the base hostname & protocol for your site
enforce_ssl: "wcoder.github.io"
baseurl: "" # the subpath of your site, e.g. /blog
permalink: "/notes/:title"
timezone: "Europe/Minsk"
paginate: 10

# Site Build
# safe: true
markdown: kramdown
kramdown:
  input: GFM
  hard_wrap: false
  syntax_highlighter_opts:
    disable : true
plugins:
  - jekyll-github-metadata
  - jekyll-mentions
  - jekyll-redirect-from
  - jekyll-sitemap
  - jekyll-paginate
  - jekyll-feed
  - jemoji
feed:
  path: atom.xml
exclude:
  - CNAME
  - README.md
  - CONTRIBUTING.md
  - Gemfile*
#excerpt_separator: "<!--more-->"

# Other Params
defaults:
  -
    scope:
      path: "pages"
    values:
      layout: "page"
