---
layout: default
---
<div class="home">

	{% if paginator.page == site.paginate %}
	<h2>Последние записи:</h2>
	{% endif %}

	<ul class="post-list">
		{% assign sortedPosts = paginator.posts %}
		{% for post in sortedPosts %}
		<li>
			<span class="post-meta">{{ post.date | date: "%d.%m.%Y в %H:%M" }}</span>
			<h2><a class="post-link" href="{{ post.url }}">{{ post.title }}</a></h2>
		</li>
		{% endfor %}
	</ul>

	<div class="pagination">
		{% if paginator.next_page %}
			<a class="pagination-item older" href="/page{{paginator.next_page}}">&larr; Предыдущие записи</a>
		{% endif %}
		&nbsp;&nbsp;&nbsp;&nbsp;
		{% if paginator.previous_page %}
			{% if paginator.page == 2 %}
				<a class="pagination-item newer" href="/">Новые записи &rarr;</a>
			{% else %}
				<a class="pagination-item newer" href="/page{{paginator.previous_page}}">Следующие записи &rarr;</a>
			{% endif %}
		{% endif %}
	</div>

</div>
