<!-- Yandex.Metrika counter -->
<script>
(function(d,b,a){(b[a]=b[a]||[]).push(function(){try{b.yaCounter33749914=new Ya.Metrika({id:33749914,clickmap:!0,trackLinks:!0,accurateTrackBounce:!0})}catch(a){}});var e=d.getElementsByTagName("script")[0],c=d.createElement("script");a=function(){e.parentNode.insertBefore(c,e)};c.type="text/javascript";c.async=!0;c.src="https://mc.yandex.ru/metrika/watch.js";"[object Opera]"==b.opera?d.addEventListener("DOMContentLoaded",a,!1):a()})(document,window,"yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/33749914" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
