
@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 500;
	src: url(/fonts/FiraSans/firaSans-medium.eot);
	src: local("Fira Sans Medium"),
		 local("FiraSans-Medium"),
		 url(/fonts/FiraSans/firaSans-medium.eot?#iefix) format("embedded-opentype"),
		 url(/fonts/FiraSans/firaSans-medium.woff2) format("woff2"),
		 url(/fonts/FiraSans/firaSans-medium.woff) format("woff"),
		 url(/fonts/FiraSans/firaSans-medium.ttf) format("truetype")
}