
$post-content-header-font-size: 2em;

body {
    background-color: #f5f8f9;
}

/**
 * Site header
 */
.site-header {
    background-color: #fff;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;

	a {
		border-bottom: none;
	}
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 48px;
            height: 29px;
            line-height: 0;
            text-align: left;
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
/*.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}*/



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;

    > .wrapper {
        background: #fff;
        padding: 30px;

        @include media-query($on-laptop) {
            padding: 20px;
        }
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    color: #333;
    border-bottom: none;

    &:visited {
        color: #666;
    }
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: $post-content-header-font-size;
    letter-spacing: -1px;
    line-height: 1;
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: $post-content-header-font-size - .2;
    }
    h3 {
        font-size: $post-content-header-font-size - .4;
    }
    h4 {
        font-size: $post-content-header-font-size - .6;
    }
}

.tag-box {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;

	li {
		float: left;
	}

	a {
		border-bottom: none;
		display: inline-block;
		height: 26px;
		line-height: 26px;
		padding: 0 5px;
		position: relative;
		margin: 0 5px 5px 0;
		text-decoration: none;

		span {
			&:before {
				content: '(';
			}
			&:after {
				content: ')';
			}
		}
	}
}

.share-btn {
	a {
		border: 1px solid #ccc;
		padding: 5px;
		font-size: 12px;
		font-family: Verdana, Arial;

		&:hover {
			cursor: pointer;
		}
	}
}