
$post-content-header-font-size: 2em;

body {
    background-color: $background-color;
}

/**
 * Site header
 */
.site-header {
    background-color: $header-background-color;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;

    a {
        border-bottom: none;
    }
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $header-link-color;
    }
    &:hover {
        color: $header-link-color;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $header-link-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }

        &:hover {
            border-bottom: 1px solid $header-link-hover-color;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;
        z-index: 1000;

        .menu-icon {
            display: block;
            float: right;
            width: 48px;
            height: 29px;
            line-height: 0;
            text-align: left;
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
            color: $grey-color-dark;
            margin-left: 20px;

            &:not(:last-child) {
                margin-right: 0;
            }

            &:hover {
                color: $brand-red-color;
            }
        }
    }
}

/**
 * Page content
 */
.page-content {
    padding-bottom: $spacing-unit;

    > .wrapper {
        background: #fff;
        padding: 30px;

        @include media-query($on-laptop) {
            padding: 20px;
        }
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    color: #333;
    border-bottom: none;

    &:visited {
        color: #666;
    }
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: $post-content-header-font-size;
    letter-spacing: -1px;
    line-height: $base-line-height;
    font-weight: 500;
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: $post-content-header-font-size - .2;
    }
    h3 {
        font-size: $post-content-header-font-size - .4;
    }
    h4 {
        font-size: $post-content-header-font-size - .6;
    }
}

.tag-box {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;

    li {
        float: left;
    }

    a {
        border-bottom: none;
        display: inline-block;
        height: 26px;
        line-height: 26px;
        padding: 0 5px;
        position: relative;
        margin: 0 5px 5px 0;
        text-decoration: none;

        span {
            &:before {
                content: '(';
            }
            &:after {
                content: ')';
            }
        }
    }
}

.share-btn {
    a {
        border: none;
        padding: 0;
        margin-right: 10px;

        &:hover {
            cursor: pointer;
        }
    }
}

.edit-post-btn {
    float: right;
    font-size: 14px;
}

/* for block of numbers */
td.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: center;
    color: #ccc;
    border-right: 1px solid #CCC;
    vertical-align: top;
    padding-right: 5px;

    /* your custom style here */
}

.hljs-ln-line.hljs-ln-n {
    padding-right: 5px;
}

/* for block of code */
.hljs-ln-code {
    padding-left: 10px !important;
}