<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="ru">
{% include head.html %}
<body>
	<header class="site-header">
		<div class="wrapper">
			<a class="site-title" href="/" title="Перейти на главную">{{ site.shortTitle }}</a>

			<nav class="site-nav">
				<a href="#" class="menu-icon" title="Развернуть меню">
					<svg xmlns="http://www.w3.org/2000/svg" height="29" viewBox="0 0 48 48" width="48">
						<path d="M0 0h48v48h-48z" fill="none"></path>
						<path d="M6 36h36v-4h-36v4zm0-10h36v-4h-36v4zm0-14v4h36v-4h-36z"></path>
					</svg>
				</a>

				<div class="trigger">
					<a class="page-link" href="http://evgeniy.pakalo.name/">Об авторе</a>
					<a class="page-link" href="/archive/">Архив</a>
					<!--<a class="page-link" href="http://evgeniy.pakalo.name/projects/">Проекты</a>-->
					<a class="page-link" href="/search/">Поиск</a>
					<a class="page-link" href="/atom.xml"><i class="fa fa-rss"></i> RSS</a>
				</div>
			</nav>
		</div>
	</header>

	<div class="page-content">
		<div class="wrapper">
		{{ content }}
		</div>
	</div>

	{% include footer.html %}
</body>
</html>
